body{
  background-color: #012f5a;
}

input.search-query {
    padding-left:20px;
}

.nav-color{
    background-color: #111213;
}

.nav-border{
border: none;
}

form.form-search:before {
    content:'';
    display: inline-block;
    width: 18px;
    height: 14px;
    background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png);
    background-position: -45px 0;
    position: absolute;
    top:4px;
    left:14px;
    opacity: 1;
    z-index: 1000;
}

.container{
  -webkit-box-shadow: 0 0 50px 5px #FFFFFF;
	box-shadow: 0 0 150px 15px #FFFFFF;
  margin-bottom: 20vh;
}

.header{
  height: 20vh;
  background-color: #111213;
}

.under-banner{
  background-color: #111213;
}

.width{
  max-width: 100%;
  margin-left: 25px !important;
}

.padding{
  padding: 0;
}
.icon-spacing{
  padding-left: 15px;
  margin-top: 7px;
  display: inline-block;
  width: auto;

}
.padding-top20{
  padding-top: 20px;
}

.padding-bottom10{
  padding-bottom: 10px;
}

.padding-top10{
  padding-top:10px;
}

.line-height{
  line-height: 1.3em;
}

.margin-top{
  margin-top: 15px;
}

.white{
  color: white;
}

.font{
	color:#9d9d9d;
}

h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
a {
  font-size: 2.2vmin;
}

.width{
  width: auto;
}


#search{
	width: 120px;
	height:20px;
	border-radius: 15px;
}

.bcg-white{
  background: #fff;
}

.grey{
    background: rgb(231,231,231); /* Old browsers */
  	background: -moz-linear-gradient(top, rgba(231,231,231,1) 0%, rgba(253,253,253,1) 100%); /* FF3.6-15 */
  	background: -webkit-linear-gradient(top, rgba(231,231,231,1) 0%,rgba(253,253,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
  	background: linear-gradient(to bottom, rgba(231,231,231,1) 0%,rgba(253,253,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#fdfdfd',GradientType=0 ); /* IE6-9 */
}

html {
  font-size: 14px;
}

.footer{
  background:#121213;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 10px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}









/* Text Align Up */
@media (min-width: 34em) {
  .text-center-sm-up {
    text-align: center;
  }
  .text-right-sm-up {
    text-align: right;
  }
  .text-left-sm-up {
    text-align: left;
  }
}

@media (min-width: 48em) {
  .text-center-md-up {
    text-align: center;
  }
  .text-right-md-up {
    text-align: right;
  }
  .text-left-md-up {
    text-align: left;
  }
}

@media (min-width: 62em) {
  .text-center-lg-up {
    text-align: center;
  }
  .text-right-lg-up {
    text-align: right;
  }
  .text-left-lg-up {
    text-align: left;
  }
}

@media (min-width: 75em) {
  .text-center-xl-up {
    text-align: center;
  }
  .text-right-xl-up {
    text-align: right;
  }
  .text-left-xl-up {
    text-align: left;
  }
}

/* Text Align Down */
@media (max-width: 33.9em) {
  .text-center-xs-down {
    text-align: center;
  }
  .text-right-xs-down {
    text-align: right;
  }
  .text-left-xs-down {
    text-align: left;
  }
}

@media (max-width: 37.9em) {
  .text-center-sm-down {
    text-align: center;
  }
  .text-right-sm-down {
    text-align: right;
  }
  .text-left-sm-down {
    text-align: left;
  }
}

@media (max-width: 41.9em) {
  .text-center-md-down {
    text-align: center;
  }
  .text-right-md-down {
    text-align: right;
  }
  .text-left-md-down {
    text-align: left;
  }
}

@media (max-width: 74.9em) {
  .text-center-lg-down {
    text-align: center;
  }
  .text-right-lg-down {
    text-align: right;
  }
  .text-left-lg-down {
    text-align: left;
  }
}

.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }


@media (min-width: @screen-sm-min) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}

@media (min-width: @screen-md-min) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}

@media (min-width: @screen-lg-min) {
  .text-lg-left { text-align: left; }
  .text-lg-right { text-align: right; }
  .text-lg-center { text-align: center; }
  .text-lg-justify { text-align: justify; }
}
